/****** Config Files *******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************/
/****** Components *********/
/***************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  color: #023436;
}
.content {
  width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 1240px) {
  .content {
    width: 95%;
  }
}
select::-ms-expand {
  display: none;
}
.ng-cloak {
  display: none !important;
}
.board {
  border: 4px solid #2e8a85;
  border-left-color: #2e8a85;
  border-top-color: #2e8a85;
  border-bottom-color: $lightColor;
  border-right-color: $lightColor;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #f2f2f2;
  padding: 50px;
  margin-top: 120px;
  position: relative;
}
.board .item {
  display: table;
  width: 100%;
}
.board .item>div {
  display: table-cell;
  vertical-align: top;
}
.board .item .score {
  text-align: center;
  width: 95px;
  font-weight: bold;
  padding-right: 30px;
}
.board .item .score>p {
  font-size: 45px;
  font-size: 2.8125rem;
}
.board .item .score>i {
  font-weight: normal;
  font-size: 14px;
  font-size: 0.875rem;
}
.board .item .picture {
  width: 214px;
  height: 317px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.board .item .question {
  padding-left: 30px;
  position: relative;
}
.board .item .question .small {
  display: none;
}
.board .item .question footer {
  width: 100%;
  position: absolute;
  left: 0px;
  padding-left: 30px;
  bottom: 0;
}
.board .item .question footer .btn {
  display: inline-block;
  vertical-align: middle;
}
.board .item .question footer .btn:last-child {
  float: right;
}
.board .item .question footer p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  color: #5b995e;
}
.board .item .question h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 12px;
}
.board .item .question input {
  display: block;
  padding: 0px 12px;
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
  color: #023436;
}
.board .item .question>.btn {
  float: right;
}
.board .item .question>p {
  float: left;
  margin-top: 8px;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
}
.board h1 {
  font-size: 46px;
  font-size: 2.875rem;
  font-weight: bold;
  color: #2e8a85;
  margin-bottom: 45px;
}
@media only screen and (max-width: 1400px) {
  .board {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 1030px) {
  .board {
    margin-top: 25px;
    padding: 20px;
  }
  .board .item>div {
    display: block;
  }
  .board .item>div.question {
    padding-left: 0px;
    margin-top: 20px;
  }
  .board .item>div.question p {
    margin-bottom: 6px;
    float: inherit;
  }
  .board .item>div.question footer {
    position: relative;
    padding-left: 0px;
  }
  .board .item>div.question footer>.btn {
    display: inline-block;
    vertical-align: middle;
  }
  .board .item>div.question>.btn {
    float: inherit;
  }
  .board .item>div.score {
    padding-right: 0px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .board h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  .board .item>div.question footer>.btn:last-child {
    float: inherit;
  }
  .board .item>div.question footer p {
    display: none;
  }
  .board .item>div.question .small {
    display: block;
    color: #5b995e;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
.btn {
  margin: 8px 0px;
  border: 1px solid #2e8a85;
  padding: 12px 35px;
  display: inline-block;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #2e8a85;
}
@media only screen and (max-width: 1030px) {
  .btn {
    padding: 12px 15px;
  }
}
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(255,255,255,0.7);
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
#loading>div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.right {
  color: #5b995e;
}
.wrong {
  color: #6f1d1b;
}
